// Fonts
$main: "DMSans";

// Font sizes
$sz-base: 1.1rem !default;
$sz-large: 1.5rem !default;
$sz-small: 1.2rem !default;
$sz-h1: 1.6rem !default;
$sz-h2: 1.6rem !default;
$sz-h3: 1.5rem !default;
$sz-h4: 1.4rem !default;
$sz-h5: $sz-base !default;
$sz-h6: $sz-small !default;
